<a href="https://colab.research.google.com/github/silvestre10/PYTHON-/blob/main/Aula_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#Aula 1**  ‚ö° 7 üíö

In [ ]:
 ano = "IX"
 print(f"{ano} competi√ß√£o de programa√ß√£o da Start")

IX competi√ß√£o de programa√ß√£o da Start

**Alura 2 ** ‚ù§ „äó üëΩ

In [4]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
pontos_ana = 2 * livro_ficcao + 5 * livro_infantil
pontos_totais = pontos_rodrigo + pontos_ana
print(f"Os pontos totais do Rodrigo s√£o {pontos_rodrigo}")
print(f"Os pontos totais do ana  s√£o {pontos_ana}")
print(f"Os pontos totais do Rodrigo e da ana s√£o {pontos_totais}")

Os pontos totais do Rodrigo s√£o 24
Os pontos totais do ana  s√£o 46
Os pontos totais do Rodrigo e da ana s√£o 70

**Aula 3 tabuada** üåÉ ‚ö´ ‚õì

In [5]:
def tabuada(numero):
    for contador in range(1, 11):  # Gera n√∫meros de 1 a 10
        print(f"{numero} x {contador} = {numero * contador}")
        numero = int(input("Digite um n√∫mero para ver sua tabuada: "))
tabuada(numero)

NameError: name 'numero' is not defined

livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
pontos_ana = * livro_ficcao + 5 * livro_infantil
pontos_totais = pontos rodrigo + pontos_ana
print(f"Os pontos totais do Rodrigo s√£o {pontos_rodrigo}")
print(f"Os pontos totais do ana  s√£o {pontos_ana}")
print(f"Os pontos totais do Rodrigo e da ana s√£o {pontos_totais}")